body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  .navbar {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     /* culoarea navbarului */
  }
  .navbar-nav .nav-link {
    color: #dedcdc; /* culoarea textului */
  }
  .navbar-nav .nav-link:hover {
    color: #06b6d4; /* culoarea textului la hover */
  }
  #searchResults {
  position: absolute;
  top: 100%;
  background: white;
  border: 1px solid #06b6d4;
  border-top: none;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-height: 300px; /* Maxima înălțime a secțiunii */
  overflow-y: auto; /* Activarea scroll-ului dacă sunt prea multe rezultate */
  z-index: 1000; /* Asigură-te că secțiunea apare deasupra altor elemente */
  width: 350px;
  display: none;
  padding: 10px;
  }
  .container-account {
    width: 100%;
    margin: 70px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .sidebar {
    padding-right: 20px;
  }
  .sidebar a {
    display: block;
    color: #333333;
    text-decoration: none;
    margin: 10px 0;
    border-radius: 15px;
    padding: 5px;
  }
  .sidebar a:hover{
    background-color: #f7f7f7;
  }
  .sidebar a.active {
    color: #06b6d4;
    font-weight: bold;
  }
  .profile-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #06b6d4;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
  }
  .info-card {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  .name-phone, .street, .buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  .buttons button:last-child{
    background-color: #ec1a1a;
  }
  .buttons button:last-child:hover{
    background-color: #ff1f1f;
  }
  .buttons button{
    background-color: #06b6d4;
    color: #ffffff;
    border-radius: 15px;
    height: 35px;
    border-width: 0px;
  }
  .buttons button:hover{
    background-color: #00c8eb;
  }
  .add-address{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .add-address button{
    background-color: #06b6d4;
    color: #ffffff;
    border-radius: 15px;
    height: 35px;
    border-width: 0px;
  }
  .add-address button:hover{
    background-color: #00c8eb;
  }

  .delete-address{
    padding: 16px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: opacity 0.5s ease;
    display: none;
  }
  .card {
    border: none;
  }
  .info-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-question {
    display: flex;
    flex-wrap: wrap;
  }
  .name-phone-delete, .street-delete{
    color: #444;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  #deleteButton{
    background-color: #06b6d4;
    color: #ffffff;
    width: 100%;
    border-radius: 15px;
    height: 35px;
    border-width: 0px;
    margin-top: 30px;
  }
  #deleteButton:hover{
    background-color: #00c8eb;
  }
  #cancelButton{
    background-color: #ffffff;
    color: #06b6d4;
    border: 1px solid #06b6d4;
    width: 100%;
    border-radius: 15px;
    height: 35px;
  }
  .noAddresses{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
}
.addresses{
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

