 /* Personalizarea culorilor */
 body {
    background-color: #f5f5f5; /* culoarea fundalului */
  }
  .container {
    max-width: 400px; /* lățime maximă a containerului */
    margin-top: 100px;
  }
  .card {
    border: none; /* eliminarea marginii cartelei */
  }
  .form-control {
    border-radius: 15px; /* border-radius pentru input-uri */
  }
 #forgotButton{
  background-color: #06b6d4;
  color: #ffffff; 
  width: 100%; 
  border-radius: 15px; 
  height: 35px; 
  border-width: 0px;
 }
 #forgotButton:hover{
  background-color: #00c8eb;
 }
  .messageSuccess{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 400px;
  }
  .return-login{
    text-decoration: none;
    color: #6c757d;
  }
  .return-login:hover{
    color: #06b6d4;
    text-decoration: underline;
  }