<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/logo.png">
    <title>GymArticles</title>
</head>
<body>
    <style>
        a:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
    <form action="/add-article" method="POST">
        <div>
            <div>
                <label for="image">Image</label>
                <input type="text" name="image">
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="price">Price</label>
                <input type="text" name="price">
            </div>
            <div>
                <label for="category" >Category</label>
                <input type="text" name="category">
            </div>
            <div>
                <label for="subcategory" >Subcategory</label>
                <input type="text" name="subcategory">
            </div>
            <div>
                <label for="cantity" >Cantity</label>
                <input type="number" name="cantity">
            </div>
            <div id="msgError" style="color: red;">

            </div>
            <div id="msgOk" style="color: green;">

            </div>
            <button type="submit">Add article</button>
        </div>
    </form>
    <script src="scripts/addArticle.js"></script>
</body>
</html>