<footer style="background-color: #ffffff; display: flex; justify-content: center; padding-top: 10px; padding-bottom: 10px;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        © 2024 GymArticles
        <label>Realizat de <a href="https://www.instagram.com/antonelcrisan/" style="color: #06b6d4">Crisan Antonel - Gabriel</a></label>
    </div>
</footer>