<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
    .product-details {
      margin-top: 100px;
    }
    .product-image {
      max-width: 300px;
      margin-bottom: 20px;
    }
    </style>
</head>
<body style="background-color: #f5f5f5;">
<%- include('Navbar') %>
    <div class="d-flex justify-content-center align-items-center"  style="height: 100vh;">
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <!-- Imaginea produsului -->
                <img src="<%= article.image %>" alt="Produs" class="img-fluid product-image">
              </div>
              <div class="col-md-8">
                <!-- Detalii despre produs -->
                  <div class="product-details">
                    <h2><%= article.name %></h2>
                    <p>Detalii despre produs: Aici puteți introduce o descriere a produsului.</p>
                    <p>Price: $<%= article.price %></p>
                    <% if (article.cantity > 0) { %>
                    <p class="text-success">In stock</p>
                  <% } else {%>
                     <p class="text-danger">Not available in stock</p>
                     <% } %>
                  </div>
              </div>
            </div>
          </div>
    </div>
   
    
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
