.navbar {
    background-color: #ffffff; /* culoarea navbarului */
}
.navbar-nav .nav-link {
    color: #dedcdc; /* culoarea textului */
}
.navbar-nav .nav-link:hover {
    color: #06b6d4; /* culoarea textului la hover */
}
/* Sidebar fixat pe stânga */
.sidebar {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}
/* Stilizare pentru claritate */
.product {
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 10px;
}
.card-title{
    font-size: 14px;
}
.card{
    border-radius: 15px;
    background-color: #ffffff;
}
.card-body .btn, .card-btn .btn{
    background-color: #06b6d4;
    color: white;
    border-radius: 15px;
    border: 0px solid  transparent;
}
.card-body .btn:hover, .card-btn .btn:hover{
    background-color: #119db0;
}

.rating {
    list-style: none;
    padding: 0;
    margin: 0;
}
.checked {
  color: orange;
}
.list-unstyled a{
    text-decoration: none; /* Elimină sublinierea */
    color: #000000; 
    padding-left: 20px;
}
.list-unstyled a:hover{
    text-decoration: underline; /* Elimină sublinierea */
    color: #06b6d4;
}
.list-unstyled summary:hover{
    color: #06b6d4;
}
.btn-addBooks{
    border-radius: 15px;
    border: none;
    height: 40px;
    margin-top: 10px;
}
.btn-addBooks:hover{
    background-color: #02879e;
}
.heartIcon{
    position: absolute; 
    top: 20px; 
    left: 20px;
    cursor: pointer;
}
.heartIcon.clicked{
    color: red;
}
.card.hide{
    display: none;
}
