 /* Personalizarea culorilor */
 body {
  background-color: #f5f5f5; /* culoarea fundalului */
}
.container {
  max-width: 400px; /* lățime maximă a containerului */
  margin-top: 100px; /* distanța de la partea de sus a paginii */
}
.card {
  border: none; /* eliminarea marginii cartelei */
}
.form-control {
  border-radius: 15px; /* border-radius pentru input-uri */
}
.btn-login {
  border-radius: 15px; /* border-radius pentru butonul de autentificare */
}
.btn-login:hover{
    background-color: #02879e;
}