 /* Personalizarea culorilor */
 body {
    background-color: #f5f5f5; /* culoarea fundalului */
  }
  .container {
    max-width: 400px; /* lățime maximă a containerului */
    margin-top: 100px; /* distanța de la partea de sus a paginii */
  }
  .card {
    border: none; /* eliminarea marginii cartelei */
  }
  .form-control {
    border-radius: 15px;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .card-body .btn{
    background-color: #06b6d4; 
    color: #ffffff;
    border-radius: 15px;
  }
  .card-body .btn:hover{
      background-color: #119db0;
  }

  #nameError, #emailError, #passwordError {
     color : red;
  }
  .input-group {
    position: relative;
    width: 100%;
}
.change-visibility {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-125%);
    cursor: pointer;
    background-color: #ffffff;
}
.change-visibility:hover{
  background-color: #e5eaf1;
  border-radius: 50%;
}
#hidePassword{
  display: none;
}
